@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');


html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1:focus {
    outline: none;
}

/* the background colors of components not effected by the theme*/

:root {
    --bs-modal-bg: #FFFDFA;
    --bs-body-bg: #FFFDFA;
}

.modal-content {
    background-color: #FFFDFA;
}
.form-control {
    background-color: #FFFDFA;
}

.card {
    background-color: #FFFBF5;
}

.modal-body-scroll {
    max-height: 500px; /* Adjust this value based on your needs */
    overflow-y: auto;
}



.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }

.loading-progress {
    position: relative;
    display: block;
    width: 8rem;
    height: 8rem;
    margin: 20vh auto 1rem auto;
}

    .loading-progress circle {
        fill: none;
        stroke: #e0e0e0;
        stroke-width: 0.6rem;
        transform-origin: 50% 50%;
        transform: rotate(-90deg);
    }

        .loading-progress circle:last-child {
            stroke: #1b6ec2;
            stroke-dasharray: calc(3.141 * var(--blazor-load-percentage, 0%) * 0.8), 500%;
            transition: stroke-dasharray 0.05s ease-in-out;
        }

.loading-progress-text {
    position: absolute;
    text-align: center;
    font-weight: bold;
    inset: calc(20vh + 3.25rem) 0 auto 0.2rem;
}

.loading-progress-text:after {
    content: var(--blazor-load-percentage-text, "Loading");
}

.inner-table {
    border-collapse: collapse; 
    margin: 10px 0;
    width: 100%;
}

.inner-table td {
    padding: 10px;
    border: 1px solid #ddd;
   /* background-color: #f9f9f9;*/
    text-align: left;  
}

.inner-table-rounded {
    border-radius: 10px;
    overflow: hidden;
}

.inner-table-inner-div {
    background-color: gainsboro;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);  
}

 Styling the clickable row 
tr[style*="cursor: pointer;"] {
    background-color: #f2f2f2;
    transition: background-color 0.2s ease;  
}

tr[style*="cursor: pointer;"]:hover {
    background-color: #e6e6e6; 
}

.clickable-row {
    cursor: pointer;
}

.clickable-row:hover {
    background-color: #f5f5f5;  
}

 Adding a bit of styling to the <p> elements 
.inner-table-inner-div p {
    margin-bottom: 5px;  
    color: #333; 
    font-size: 0.9em;  
}


.qrcode {
    width: 150px;
    height: 150px;
}

.loader-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255,255,255,0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    flex-direction: column;
}

.loader {
    border: 12px solid #eaeaea; /* Light grey for the base circle */
    border-top: 12px solid #f7931a; /* Bitcoin orange for the rotating part */
    border-radius: 50%;
    width: 100px; /* Smaller width */
    height: 100px; /* Smaller height */
    animation: spin 2s linear infinite;
    background: url('../bitcoin-logo.png') no-repeat center;
    background-size: 90%; /* Adjust the size of the logo as needed */
}

.loader-small {
    border: 6px solid #eaeaea; /* Light grey for the base circle, thinner border */
    border-top: 6px solid #f7931a; /* Bitcoin orange for the rotating part, thinner border */
    border-radius: 50%;
    width: 50px; /* Reduced width */
    height: 50px; /* Reduced height */
    animation: spin 2s linear infinite;
    background: url('../bitcoin-logo.png') no-repeat center;
    background-size: 80%; /* Adjust the size of the logo as needed */
}

.loader-slow {
    border: 12px solid #eaeaea; /* Light grey for the base circle */
    border-top: 12px solid #f7931a; /* Bitcoin orange for the rotating part */
    border-radius: 50%;
    width: 100px; /* Smaller width */
    height: 100px; /* Smaller height */
    animation: spin 20s linear infinite;
    background: url('../bitcoin-logo.png') no-repeat center;
    background-size: 90%; /* Adjust the size of the logo as needed */
    margin: 0 auto;
}

.loader-slow-container {
    display: flex; /* Enable Flexbox */
    justify-content: center; /* Center children horizontally */
    align-items: center; /* Center children vertically */
    width: 100%; /* Full width of the container */
    height: 100px; /* Adjust the height as needed */
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loading-text {
    color: #333; /* Or any color you want for the text */
    font-size: 20px; /* Adjust the size as you prefer */
    margin-bottom: 20px; /* Distance from the loader */
    /* Add any additional styling as needed */
}

.address-container {
    background-color: #f8f9fa; /* Light background */
    border: 1px solid #ddd; /* Light border */
    border-radius: 10px; /* Rounded corners */
    padding: 10px; /* Padding inside the container */
    cursor: pointer; /* Change cursor on hover */
    text-align: center; /* Center-align the text */
    margin-top: 10px; /* Spacing from the QR code */
}

.address-container:hover {
    background-color: #e9ecef; /* Slightly darker background on hover */
}

.address-container-wrapper {
    max-width: 450px; /* Adjust as needed */
    margin-right: 30px; /* Space between address and QR code button */
}

.address-copy-button {
    margin-left: 10px; /* Space between address and button */
    cursor: pointer;
}
