@using Angor.Shared.Models
@inject IClipboardService ClipboardService
@inherits BaseComponent

<NotificationComponent @ref="notificationComponent" />

@if (IsVisible)
{
    <div class="modal-wrapper z-index-top">
        <div class="modal fade show d-block" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content modern-modal">
                    <div class="modal-header border-0 pb-0">
                        <div class="d-flex align-items-center">
                            <Icon IconName="file-code" Height="32" Width="32" class="me-2" />
                            <h5 class="modal-title">Raw Transaction JSON</h5>
                        </div>
                        <button class="btn-close-custom" @onclick="CloseModal">
                            <Icon IconName="close-circle" Height="24" Width="24" />
                        </button>
                    </div>
                    <div class="modal-body modal-body-scroll py-4">
                        <pre class="code-block">@RawTransactionJson</pre>
                    </div>
                    <div class="modal-footer border-0 pt-0">
                        <button class="btn btn-border p-0" @onclick="CopyToClipboard">
                            <Icon IconName="copy" Height="24" Width="24" />  
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter] public string RawTransactionJson { get; set; }
    [Parameter] public bool IsVisible { get; set; }
    [Parameter] public EventCallback<bool> IsVisibleChanged { get; set; }

    private async Task CloseModal()
    {
        await IsVisibleChanged.InvokeAsync(false);
    }

    private async Task CopyToClipboard()
    {
        await ClipboardService.WriteTextAsync(RawTransactionJson);
        notificationComponent.ShowNotificationMessage("Copied to clipboard!", 3);
    }
}
