@using Angor.Shared.Services
@using Angor.Client.Models
@using Angor.Client.Services
@using Nostr.Client.Messages
@using Nostr.Client.Messages.Metadata
@using QRCoder

@inject IconService IconService;
@inject IClipboardService _clipboardService


<!-- Trigger Button -->
<div class="col-6 text-end">
    <i role="button" @onclick="ShowModal" data-cy="SHOW_QR_CODE">
        <Icon IconName="qr-code"></Icon>
    </i>
</div>
<!-- Modal -->
@if (showModal)
{
    <div class="modal-wrapper">
        <div class="modal fade show d-block" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered modal-sm">
                <div class="modal-content modern-modal">
                    <div class="modal-header border-0 pb-0">
                        <div class="d-flex align-items-center">
                            <Icon IconName="receive" Height="24" Width="24" class="me-2" />
                            <h5 class="modal-title fs-5">Receive Address</h5>
                        </div>
                        <button class="btn-close-custom" @onclick="HideModal">
                            <Icon IconName="close-circle" Height="20" Width="20" />
                        </button>
                    </div>
                    <div class="modal-body p-3">
                        <div class="text-center mb-3">
                            <img src="data:image/png;base64,@base64qrcode" 
                                 class="qrcode-image img-fluid rounded" 
                                 width="200" height="200"
                                 alt="QR Code" />
                        </div>
                        <div class="card border p-2">
                            <div class="d-flex align-items-center gap-2">
                                <div class="flex-grow-1">
                                    <small class="text-muted d-block mb-1">Address</small>
                                    <div class="small text-truncate" title="@Data" data-cy="WALLET_ADRESS_IN_QR_POPUP">
                                        @Data
                                    </div>
                                </div>
                                <i class="px-2 py-1" @onclick="CopyToClipboard">
                                    <Icon IconName="copy" Height="32" Width="32" />
                                </i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<NotificationComponent @ref="notificationComponent" />

@code {

    [Parameter]
    public string Data { get; set; }

    private string base64qrcode;

    private bool showModal = false;

    public NotificationComponent notificationComponent;

 

    private void ShowModal()
    {
        GenerateQRCode(Data);
        showModal = true;
    }

    private void HideModal()
    {
        showModal = false;
    }

    public void SetQRCode(string newData)
    {
        Data = newData;
    }

    public void GenerateQRCode(string newData)
    {
        Data = newData;

        base64qrcode = GenerateQRCodeInternal(Data);

        StateHasChanged();
    }

    public static string GenerateQRCodeInternal(string content)
    {
        using QRCodeGenerator qrGenerator = new QRCodeGenerator();
        using QRCodeData qrCodeData = qrGenerator.CreateQrCode(content, QRCodeGenerator.ECCLevel.Q);
        using PngByteQRCode pngByteQRCode = new PngByteQRCode(qrCodeData);
        // Reduced QR code size from 10 to 6
        return Convert.ToBase64String(pngByteQRCode.GetGraphic(6));
    }

    private async Task CopyToClipboard()
    {
        await _clipboardService.WriteTextAsync(Data);
        notificationComponent.ShowNotificationMessage("Copied to clipboard!", 3);

    }
}
