.main-content {
    position: relative;
    margin-left: 290px;
    height: 100vh;
    transition: all 0.4s ease;
    z-index: 10;
}

.sidenav-show.sidenav-hidden .main-content {
    margin-left: 100px;
}


@media (max-width: 1280px) {
    .main-content {
        margin-left: 100px;
        width: calc(100% - 100px);
    }
    
    .sidenav-show.sidenav-hidden .main-content {
        margin-left: 100px;
    }
}
