.navbar-toggler {
    background-color: #083b46;
}

.top-row {
    height: 3.5rem;
    background-color: #083b46;
}

.navbar-brand {
    font-size: 1.1rem;
}

.oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

.nav-item:first-of-type {
    padding-top: 1rem;
}

.nav-item:last-of-type {
    padding-bottom: 1rem;
}

.nav-item ::deep a {
    color: #d7d7d7;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
}

.nav-item ::deep a.active {
    background-color: rgba(14, 13, 13, 0.25);
    color: white;
}

.nav-item ::deep a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

.nav-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: #d7d7d7;
    padding: 10px 0 !important;
}

.sidebar {
    position: fixed;
    width: 200px;
    margin: 16px 16px 16px 8px;
    border-radius: 16px;
    background: #083b46;
    height: calc(100vh - 32px);
    display: flex;
    flex-direction: column;
    transition: all 0.4s ease;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.sidebar.collapsed {
    width: 85px;
}

.sidebar .sidebar-header {
    height: 78px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar.collapsed .sidebar-header {
    justify-content: center;
    padding: 0 10px;
}

.sidebar-header .header-logo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.sidebar-header .header-logo .angor-label {
    color: #c4c3c3;
    font-size: 1.3rem;
    font-weight: 100;
    transition: opacity 0.1s ease;
}

.sidebar.collapsed .header-logo .angor-label {
    display: none;
    opacity: 0;
}

.sidebar-header .toggler {
    height: 35px;
    width: 35px;
    color: grey;
    border: none;
    cursor: pointer;
    display: flex;
    background-color: rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    transition: all 0.4s ease;
    transform-origin: center;
}

.sidebar-header .toggler.rotate {
    transform: rotate(180deg);
}

.sidebar-header .toggler:hover {
    background: rgba(34, 32, 32, 0.1);
}

.sidebar.collapsed .sidebar-header .toggler {
    position: absolute;
    left: 50%;
    top: 85px;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.1);
    height: 35px;
    width: 35px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.sidebar.collapsed .sidebar-header .toggler.rotate {
    transform: translateX(-50%) rotate(180deg);
}

.sidebar-nav {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
}

.sidebar.collapsed .sidebar-nav {
    margin-top: 40px;
}

.sidebar .sidebar-nav .primary-nav {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 15px;
    margin-bottom: 10px;
}

.sidebar-nav .nav-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
    margin: 0;
}

.sidebar-nav .nav-item {
    position: relative;
    padding: 0;
}

.sidebar-nav ::deep .nav-link {
    color: white;
    display: flex;
    align-items: center;
    padding: 12px;
    border-radius: 12px;
    text-decoration: none;
    gap: 12px;
}

.sidebar.collapsed .sidebar-nav ::deep .nav-link {
    justify-content: center;
}

.sidebar-nav ::deep .nav-link .nav-label {
    color: white;
}

.sidebar.collapsed .sidebar-nav ::deep .nav-link .nav-label {
    display: none;
}

.sidebar-nav ::deep .nav-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
}

.sidebar-nav .secondary-nav {
    padding: 0 15px 15px 15px;
}

.sidebar-nav .nav-tooltip {
    position: fixed;
    opacity: 0;
    color: #083b46;
    display: none;
    pointer-events: none;
    padding: 8px 16px;
    border-radius: 8px;
    white-space: nowrap;
    background: white;
    left: calc(100% + 10px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    z-index: 1060;
    transform: translateY(-50%);
    transition: opacity 0.3s ease;
}

.sidebar.collapsed .sidebar-nav .nav-tooltip {
    display: block;
    left: 85px;
}

.sidebar-nav .nav-item:hover .nav-tooltip {
    opacity: 1;
    pointer-events: auto;
}

.sidebar-nav ::deep .nav-link.active {
    background-color: rgba(14, 13, 13, 0.25);
    color: white;
}

.sidebar-nav ::deep .nav-link:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

.sidebar.white {
    background: #f5fdff;
}

.sidebar.white .sidebar-nav ::deep .nav-link .nav-label,
.sidebar.white .sidebar-header .header-logo .angor-label {
    color: #000;
}

.sidebar.white .sidebar-nav ::deep .nav-link.active {
    background-color: rgba(24, 23, 23, 0.25);
}

.sidebar.white .sidebar-nav ::deep .nav-link:hover {
    background-color: rgba(34, 32, 32, 0.1);
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        display: block;
    }
    
    .nav-scrollable {
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}

@media (min-width: 768px) and (max-width: 1280px) {
    .sidebar {
        position: fixed;
        width: 200px;
        margin: 16px 16px 16px 8px;
        border-radius: 16px;
        height: calc(100vh - 32px);
    }
    
    .sidebar.collapsed {
        width: 85px;
    }
    
    .sidebar-header .toggler {
        display: flex !important;
    }
    
    .sidebar .sidebar-header {
        justify-content: space-between;
    }
}

@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
        margin: 0;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        border-radius: 16px 16px 0 0;
        box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        padding-left: 8px;
        padding-right: 8px;
        max-height: 80px;
    }
    
    .sidebar.collapsed {
        width: 100%;
    }
    
    .sidebar .sidebar-header {
        display: none;
    }
    
    .sidebar-nav {
        margin-top: 0;
    }
    
    .sidebar-nav .nav-list {
        flex-direction: row;
        justify-content: space-around;
        padding: 5px;
    }
    
    .sidebar .sidebar-nav .primary-nav {
        padding: 8px 0;
        margin: 0;
        overflow-x: hidden;
        overflow-y: hidden;
        display: flex;
        flex-direction: row;
        max-height: 80px;
    }
    
    .sidebar-nav .nav-item {
        flex: 1;
        text-align: center;
        padding: 0;
        margin: 0 3px;
        max-width: 80px;
    }
    
    .sidebar-nav .nav-item:first-of-type,
    .sidebar-nav .nav-item:last-of-type {
        padding: 0;
    }
    
    .sidebar-nav ::deep .nav-link {
        flex-direction: column;
        gap: 5px;
        justify-content: center;
        align-items: center;
        height: auto;
        line-height: normal;
    }
    
    .sidebar-nav ::deep .nav-link .nav-label {
        font-size: 0.7rem;
        display: block;
        white-space: nowrap;
    }
    
    .sidebar.collapsed .sidebar-nav {
        margin-top: 0;
    }

    .sidebar.collapsed .sidebar-nav ::deep .nav-link .nav-label {
        display: block;
    }
    
    .sidebar-nav ::deep .nav-icon {
        width: 24px;
        height: 24px;
    }
    
    .sidebar-nav .nav-tooltip {
        display: none !important;
    }
    
    .sidebar-nav .secondary-nav {
        display: none;
    }
    
    .sidebar-nav ::deep .nav-link.active {
        background-color: rgba(255, 255, 255, 0.1);
    }
    
    @supports (padding-bottom: env(safe-area-inset-bottom)) {
        .sidebar {
            padding-bottom: env(safe-area-inset-bottom);
        }
    }
}

.sidebar {
    z-index: 9999;
}