@using Angor.Shared.Models
@using Angor.Shared.Services
@using Angor.Client.Models

@inject IRelayService  RelayService;

<div class="card mb-3">
    @if (InvestmentRequests)
    {
        <div class="card-header">
            <h4 class="text-warning-emphasis">Investments requests require approval!!!</h4>
        </div>
    }
    <div class="card-body">
        <h5 class="card-title">@ProjectInfo.ProjectInfo.ProjectIdentifier</h5>
        <p class="card-text">Nostr ID: <a href="/" target="_blank">@ProjectInfo.ProjectInfo.NostrPubKey</a></p>
        <NavLink href=@($"/view/{ProjectInfo.ProjectInfo.ProjectIdentifier}") class="btn btn-primary">View Project</NavLink>
    </div>
</div>

@code {

    [Parameter]
    public FounderProject ProjectInfo { get; set; }

    public bool InvestmentRequests { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        await RelayService.ConnectToRelaysAsync();

        await RelayService.LookupDirectMessagesForPubKeyAsync(ProjectInfo.ProjectInfo.NostrPubKey, ProjectInfo.LastRequestSignedTime, 1,
            _ =>
            {
                if (InvestmentRequests)
                    return;

                InvestmentRequests = true;
                StateHasChanged();
            });
    }
}