@page "/"
<PageTitle>Angor</PageTitle>
<div class="card">
    <div class="row g-0">
        <div class=" d-flex align-items-center justify-content-center position-relative">
            <!-- Loader for Card -->
            <div class="card-body card-loader loading text-center">
                 <span class="main-logo mb-3">
                    <Icon IconName="angor-logo" Width="72" Height="72" />
                </span>
                <h5 class="card-title text-center" id="welcomeHeading">Welcome to Angor</h5>
                <p class="card-text text-center">A P2P funding protocol built on Bitcoin and Nostr</p>
            </div>
        </div>
    </div>
</div>
