@page "/"

<PageTitle>Index</PageTitle>

<div class="container my-4">
    <h1>Welcome to Angor !</h1>

    <h5>
        <br />
        A decentralized crowdfunding platform built on Bitcoin and NOSTR.
        <br /><br />
        Think of it as a trust less, risk-minimized open source funding platform.
    </h5>

 


</div>