:root {
    --bs-primary: #1f5d6a;
    --bs-secondary: #ff9900;
    --bs-body-bg: #FFFDFA;
    --bs-body-color: #ff9900;
    --bs-primary-rgb: 31, 93, 106;
    --bs-secondary-rgb: 255, 153, 0;
    --bs-font-sans-serif: "Roboto", Helvetica, Arial, sans-serif;
    --bs-border-width: 1px;
    --bs-border-style: solid;
    --bs-border-color: #dee2e6;
    --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
    --bs-border-radius: 0.375rem;
    --bs-border-radius-sm: 0.125rem;
    --bs-border-radius-lg: 0.5rem;
    --bs-border-radius-xl: 0.75rem;
    --bs-border-radius-2xl: 1rem;
    --bs-border-radius-pill: 50rem;
    --bs-link-color: #1f5d6a;
    --bs-link-hover-color: #1f5d6a;
    --bs-modal-bg: #FFFDFA;
    --angor-white: #e7fbff;
    --bs-table-color: #ff9900;
    --bs-table-striped-color: #ff9900;
    --bs-table-active-color: #ff9900;
    --bs-table-hover-color: #ff9900;
    --bs-form-check-input-checked-bg: #4caf50;
    --bs-form-check-input-checked-border: #4caf50;
    --bs-form-check-input-indeterminate-bg: #1f5d6a;
    --bs-form-check-input-indeterminate-border: #1f5d6a;
    --bs-form-range-thumb-bg: #1f5d6a;
    --bs-btn-color: #ff9900;
    --bs-btn-primary-bg: #1f5d6a;
    --bs-btn-primary-border: #1f5d6a;
    --bs-btn-secondary-bg: #ff9900;
    --bs-btn-secondary-border: #ff9900;
    --bs-dropdown-color: #ff9900;
    --bs-dropdown-link-color: #ff9900;
    --bs-dropdown-link-active-color: #ff9900;
    --bs-accordion-color: #ff9900;
    --bs-accordion-btn-color: #ff9900;
    --bs-pagination-color: #1f5d6a;
    --bs-pagination-hover-color: #1f5d6a;
    --bs-pagination-hover-bg: #f0f2f5;
    --bs-pagination-active-bg: #1f5d6a;
    --bs-pagination-active-border: #1f5d6a;
    --bs-progress-bar-bg: #1f5d6a;
    --bs-list-group-action-active-color: #ff9900;
    --bs-list-group-active-bg: #1f5d6a;
    --bs-list-group-active-border: #1f5d6a;
    --bs-btn-close-focus-shadow: rgba(31, 93, 106, 0.25);
    --bs-btn-close-bg: #1f5d6a;
    --bs-popover-body-color: #ff9900;
    --bs-text-bg-primary: rgba(31, 93, 106, 1);
    --bs-text-bg-secondary: rgba(255, 153, 0, 1);
    --bs-link-primary: #1f5d6a;
    --bs-link-secondary: #ff9900;
    --bs-border-primary: #1f5d6a;
    --bs-border-secondary: #ff9900;
    --bs-text-primary: #1f5d6a;
    --bs-text-secondary: #ff9900;
    --bs-shadow-primary: rgba(31, 93, 106, 0.4);
    --bs-shadow-light: rgba(31, 93, 106, 0.4);
    --bs-alert-primary-bg: #1f5d6a;
    --bs-badge-primary-bg: #1f5d6a;
    --bs-badge-secondary-bg: #ff9900;
    --bs-btn-bg-white-hover: #ff9900;
    --bs-btn-primary-hover-bg: #1f5d6a;
    --bs-btn-primary-hover-border: #1f5d6a;
    --bs-btn-primary-active-bg: #1f5d6a;
    --bs-btn-primary-active-border: #1f5d6a;
    --bs-btn-secondary-hover-bg: #ff9900;
    --bs-btn-secondary-hover-border: #ff9900;
    --bs-btn-secondary-active-bg: #ff9900;
    --bs-btn-secondary-active-border: #ff9900;
    --bs-btn-link-color: #1f5d6a;
    --bs-btn-link-hover-color: #1f5d6a;
    --bs-card-bg: #FFFDFA;
    --bs-scrollbar-thumb-bg: #888;
    --bs-scrollbar-thumb-hover-bg: #e78a02;
    --bs-modal-header-border-color: #344767;
    --bs-modal-header-border-color-dark: #fff;
    --bs-loading-progress-stroke: #e0e0e0;
    --bs-loading-progress-stroke-active: #1b6ec2;
    --bs-loading-text-color: #333;
    --bs-snackbar-bg: #fdfefe;
    --bs-snackbar-text-color: #08111f;
    --bs-snackbar-bg-dark: #060b14;
    --bs-snackbar-text-color-dark: #fff;
    --bs-inner-table-border: #ddd;
    --bs-inner-table-bg: gainsboro;
    --bs-card-header-img-bg: #084a59;
    --bs-card-header-img-hover-bg: #033742;
    --bs-card-header-img-border: #012e39;
    --bs-btn-angor: var(--bs-primary);
    --bs-btn-angor-dark: var(--angor-white);
    --bs-btn-angor-hover: #e08604;
    --bs-dark-text-white: #fff;
    --bs-dark-text-dark: #000;
    --bs-dark-bg-gray-100: #f8f9fa;
    --bs-dark-bg-gray-600: #6c757d;
    --bs-dark-border-dark: #343a40;
    --bs-dark-shadow: rgba(255, 255, 255, 0.4);
    --bs-primary-btn-icon: #e7fbff;
    --bs-modal-zindex: 1050;
    --bs-modal-width: 500px;
    --bs-modal-padding: 1rem;
    --bs-modal-margin: 0.5rem;
    --bs-modal-bg: #fff;
    --bs-modal-border-color: rgba(0, 0, 0, 0.2);
    --bs-modal-border-width: 1px;
    --bs-modal-border-radius: 0.5rem;
    --bs-modal-box-shadow: 0 0.3125rem 0.625rem 0 rgba(0, 0, 0, 0.12);
    --bs-modal-inner-border-radius: calc(0.5rem - 1px);
    --bs-modal-header-padding-x: 1rem;
    --bs-modal-header-padding-y: 1rem;
    --bs-modal-header-padding: 1rem 1rem;
    --bs-modal-header-border-color: #dee2e6;
    --bs-modal-header-border-color-dark: #046479;
    --bs-modal-header-border-width: 1px;
    --bs-modal-title-line-height: 1.5;
    --bs-modal-footer-gap: 0.5rem;
    --bs-modal-footer-border-color: #dee2e6;
    --bs-modal-footer-border-color-dark: #046479;
    --bs-modal-footer-border-width: 1px;
    --btn-border: #ccc;
}

.dark {
    --bs-primary: #e7fbff;
    --bs-secondary: #ff9900;
    --bs-body-bg: #084a59;
    --bs-body-color: #FFFDFA;
    --bs-table-color: #ff9900;
    --bs-table-striped-color: #ff9900;
    --bs-table-active-color: #ff9900;
    --bs-table-hover-color: #ff9900;
    --bs-form-check-input-checked-bg: #4caf50;
    --bs-form-check-input-checked-border: #4caf50;
    --bs-form-check-input-indeterminate-bg: #e7fbff;
    --bs-form-check-input-indeterminate-border: #e7fbff;
    --bs-form-range-thumb-bg: #e7fbff;
    --bs-btn-color: #ff9900;
    --bs-btn-primary-bg: #022229;
    --bs-btn-primary-border: #e7fbff;
    --bs-btn-secondary-bg: #ff9900;
    --bs-btn-secondary-border: #ff9900;
    --bs-dropdown-color: #ff9900;
    --bs-dropdown-link-color: #ff9900;
    --bs-dropdown-link-active-color: #ff9900;
    --bs-accordion-color: #ff9900;
    --bs-accordion-btn-color: #ff9900;
    --bs-pagination-color: #e7fbff;
    --bs-pagination-hover-color: #e7fbff;
    --bs-pagination-hover-bg: #033742;
    --bs-pagination-active-bg: #e7fbff;
    --bs-pagination-active-border: #e7fbff;
    --bs-progress-bar-bg: #e7fbff;
    --bs-list-group-action-active-color: #ff9900;
    --bs-list-group-active-bg: #e7fbff;
    --bs-list-group-active-border: #e7fbff;
    --bs-btn-close-focus-shadow: rgba(231, 251, 255, 0.25);
    --bs-btn-close-bg: #e7fbff;
    --bs-popover-body-color: #ff9900;
    --bs-text-bg-primary: rgba(231, 251, 255, 1);
    --bs-text-bg-secondary: rgba(255, 153, 0, 1);
    --bs-link-primary: #e7fbff;
    --bs-link-secondary: #ff9900;
    --bs-border-primary: #e7fbff;
    --bs-border-secondary: #ff9900;
    --bs-text-primary: #e7fbff;
    --bs-text-secondary: #ff9900;
    --bs-shadow-primary: rgba(231, 251, 255, 0.4);
    --bs-shadow-light: rgba(231, 251, 255, 0.4);
    --bs-alert-primary-bg: #e7fbff;
    --bs-badge-primary-bg: #e7fbff;
    --bs-badge-secondary-bg: #ff9900;
    --bs-btn-bg-white-hover: #ff9900;
    --bs-btn-primary-hover-bg: #022229;
    --bs-btn-primary-hover-border: #e7fbff;
    --bs-btn-primary-active-bg: #022229;
    --bs-btn-primary-active-border: #e7fbff;
    --bs-btn-secondary-hover-bg: #ff9900;
    --bs-btn-secondary-hover-border: #ff9900;
    --bs-btn-secondary-active-bg: #ff9900;
    --bs-btn-secondary-active-border: #ff9900;
    --bs-btn-link-color: #e7fbff;
    --bs-btn-link-hover-color: #e7fbff;
    --bs-card-bg: #084a59;
    --bs-scrollbar-thumb-bg: #888;
    --bs-scrollbar-thumb-hover-bg: #e78a02;
    --bs-modal-header-border-color: #fff;
    --bs-loading-progress-stroke: #e0e0e0;
    --bs-loading-progress-stroke-active: #1b6ec2;
    --bs-loading-text-color: #333;
    --bs-snackbar-bg: #060b14;
    --bs-snackbar-text-color: #fff;
    --bs-inner-table-border: #ddd;
    --bs-inner-table-bg: gainsboro;
    --bs-card-header-img-bg: #084a59;
    --bs-card-header-img-hover-bg: #033742;
    --bs-card-header-img-border: #012e39;
    --bs-btn-angor: var(--bs-primary);
    --bs-btn-angor-dark: var(--angor-white);
    --bs-btn-angor-hover: #e08604;
    --bs-dark-text-white: #fff;
    --bs-dark-text-dark: #000;
    --bs-dark-bg-gray-100: #f8f9fa;
    --bs-dark-bg-gray-600: #6c757d;
    --bs-dark-border-dark: #343a40;
    --bs-dark-shadow: rgba(255, 255, 255, 0.4);
    --bs-modal-zindex: 1050;
    --bs-modal-width: 500px;
    --bs-modal-padding: 1rem;
    --bs-modal-margin: 0.5rem;
    --bs-modal-bg: #084a59;
    --bs-modal-border-color: rgba(0, 0, 0, 0.2);
    --bs-modal-border-width: 1px;
    --bs-modal-border-radius: 0.5rem;
    --bs-modal-box-shadow: 0 0.3125rem 0.625rem 0 rgba(0, 0, 0, 0.12);
    --bs-modal-inner-border-radius: calc(0.5rem - 1px);
    --bs-modal-header-padding-x: 1rem;
    --bs-modal-header-padding-y: 1rem;
    --bs-modal-header-padding: 1rem 1rem;
    --bs-modal-header-border-color: #fff;
    --bs-modal-header-border-color-dark: #046479;
    --bs-modal-header-border-width: 1px;
    --bs-modal-title-line-height: 1.5;
    --bs-modal-footer-gap: 0.5rem;
    --bs-modal-footer-border-color: #fff;
    --bs-modal-footer-border-color-dark: #046479;
    --bs-modal-footer-border-width: 1px;
    --btn-border: #046479;
}

/* Tables */
.table {
    --bs-table-color: var(--bs-table-color);
    --bs-table-striped-color: var(--bs-table-striped-color);
    --bs-table-active-color: var(--bs-table-active-color);
    --bs-table-hover-color: var(--bs-table-hover-color);
}

/* Forms */
.col-form-label {
    color: var(--bs-body-color);
}

.form-check-input:checked[type="checkbox"] {
    background-image: linear-gradient(195deg, var(--bs-form-check-input-checked-bg) 0%, var(--bs-form-check-input-checked-border) 100%);
}

.form-check-input:checked[type="radio"] {
    background-image: linear-gradient(195deg, var(--bs-form-check-input-checked-bg) 0%, var(--bs-form-check-input-checked-border) 100%);
}

.form-check-input[type="checkbox"]:indeterminate {
    background-color: var(--bs-form-check-input-indeterminate-bg);
    border-color: var(--bs-form-check-input-indeterminate-border);
}

.form-range::-webkit-slider-thumb {
    background-color: var(--bs-form-range-thumb-bg);
}

.form-range::-moz-range-thumb {
    background-color: var(--bs-form-range-thumb-bg);
}

/* Buttons */
.btn {
    --bs-btn-color: var(--bs-btn-color);
}

.btn-primary {
    --bs-btn-bg: var(--bs-btn-primary-bg);
    --bs-btn-border-color: var(--bs-btn-primary-border);
    --bs-btn-disabled-bg: var(--bs-btn-primary-bg);
    --bs-btn-disabled-border-color: var(--bs-btn-primary-border);
}

.btn-secondary {
    --bs-btn-bg: var(--bs-btn-secondary-bg);
    --bs-btn-border-color: var(--bs-btn-secondary-border);
    --bs-btn-disabled-bg: var(--bs-btn-secondary-bg);
    --bs-btn-disabled-border-color: var(--bs-btn-secondary-border);
}

.btn-outline-primary {
    --bs-btn-color: var(--bs-primary);
    --bs-btn-border-color: var(--bs-primary);
    --bs-btn-hover-bg: var(--bs-primary);
    --bs-btn-hover-border-color: var(--bs-primary);
    --bs-btn-focus-shadow-rgb: var(--bs-primary-rgb);
    --bs-btn-active-bg: var(--bs-primary);
    --bs-btn-active-border-color: var(--bs-primary);
    --bs-btn-disabled-color: var(--bs-primary);
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: var(--bs-primary);
}

.btn-outline-secondary {
    --bs-btn-color: var(--bs-secondary);
    --bs-btn-border-color: var(--bs-secondary);
    --bs-btn-hover-bg: var(--bs-secondary);
    --bs-btn-hover-border-color: var(--bs-secondary);
    --bs-btn-focus-shadow-rgb: var(--bs-secondary-rgb);
    --bs-btn-active-bg: var(--bs-secondary);
    --bs-btn-active-border-color: var(--bs-secondary);
    --bs-btn-disabled-color: var(--bs-secondary);
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: var(--bs-secondary);
}

.btn-link {
    --bs-btn-color: var(--bs-btn-link-color);
    --bs-btn-hover-color: var(--bs-btn-link-hover-color);
    --bs-btn-active-color: var(--bs-btn-link-hover-color);
}

/* Menus */
.dropdown-menu {
    --bs-dropdown-color: var(--bs-dropdown-color);
    --bs-dropdown-link-color: var(--bs-dropdown-link-color);
    --bs-dropdown-link-active-color: var(--bs-dropdown-link-active-color);
}

.dropdown-menu-dark {
    --bs-dropdown-link-active-color: var(--bs-dropdown-link-active-color);
}

.accordion {
    --bs-accordion-color: var(--bs-accordion-color);
    --bs-accordion-btn-color: var(--bs-accordion-btn-color);
}

/* Other elements */
.pagination {
    --bs-pagination-color: var(--bs-pagination-color);
    --bs-pagination-hover-color: var(--bs-pagination-hover-color);
    --bs-pagination-hover-bg: var(--bs-pagination-hover-bg);
    --bs-pagination-focus-color: var(--bs-pagination-focus-color);
    --bs-pagination-active-bg: var(--bs-pagination-active-bg);
    --bs-pagination-active-border-color: var(--bs-pagination-active-border-color);
}

.progress {
    --bs-progress-bar-bg: var(--bs-progress-bar-bg);
}

.list-group {
    --bs-list-group-action-active-color: var(--bs-list-group-action-active-color);
    --bs-list-group-active-bg: var(--bs-list-group-active-bg);
    --bs-list-group-active-border-color: var(--bs-list-group-active-border-color);
}

.btn-close:focus {
    box-shadow: 0 0 0 0.2rem var(--bs-btn-close-focus-shadow);
}

.btn-close {
    background-color: var(--bs-btn-close-bg);
}

.popover {
    --bs-popover-body-color: var(--bs-popover-body-color);
}

/* Colors and backgrounds */
.text-bg-primary {
    background-color: var(--bs-text-bg-primary) !important;
}

.text-bg-secondary {
    background-color: var(--bs-text-bg-secondary) !important;
}

.link-primary {
    color: var(--bs-link-primary) !important;
}

.link-secondary {
    color: var(--bs-link-secondary) !important;
}

.border-primary {
    border-color: var(--bs-border-primary) !important;
}

.border-secondary {
    border-color: var(--bs-border-secondary);
}

.text-primary {
    color: var(--bs-text-primary) !important;
}

.text-secondary {
    color: var(--bs-text-secondary) !important;
}

.text-body {
    color: var(--bs-text-body) !important;
}

.shadow-primary {
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px var(--bs-shadow-primary) !important;
}

.shadow-light {
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px var(--bs-shadow-light) !important;
}

.alert-primary {
    background-image: linear-gradient(195deg, var(--bs-alert-primary-bg) 0%, var(--bs-alert-primary-bg) 100%);
}

.badge.bg-primary {
    background: var(--bs-badge-primary-bg);
}

.badge.bg-secondary {
    background: var(--bs-badge-secondary-bg);
}

.btn.bg-white:hover {
    color: var(--bs-btn-bg-white-hover);
}

.btn-primary,
.btn.bg-gradient-primary {
    box-shadow: 0 3px 3px 0 rgba(31, 93, 106, 0.15), 0 3px 1px -2px rgba(31, 93, 106, 0.2), 0 1px 5px 0 rgba(31, 93, 106, 0.15);
}

    .btn-primary:hover,
    .btn.bg-gradient-primary:hover {
        background-color: var(--bs-btn-primary-hover-bg);
        border-color: var(--bs-btn-primary-hover-border);
        box-shadow: 0 14px 26px -12px var(--bs-shadow-primary), 0 4px 23px 0 rgba(31, 93, 106, 0.15), 0 8px 10px -5px rgba(31, 93, 106, 0.2);
    }

    .btn-primary .btn.bg-outline-primary,
    .btn.bg-gradient-primary .btn.bg-outline-primary {
        border: 1px solid var(--bs-primary);
    }

    .btn-primary:not(:disabled):not(.disabled).active,
    .btn-primary:not(:disabled):not(.disabled):active,
    .show > .btn-primary.dropdown-toggle,
    .btn.bg-gradient-primary:not(:disabled):not(.disabled).active,
    .btn.bg-gradient-primary:not(:disabled):not(.disabled):active,
    .show > .btn.bg-gradient-primary.dropdown-toggle {
        color: color-yiq(var(--bs-primary));
        background-color: var(--bs-btn-primary-active-bg);
        border-color: var(--bs-btn-primary-active-border);
    }

.btn-outline-primary:hover:not(.active) {
    background-color: transparent;
    opacity: .75;
    box-shadow: none;
    color: var(--bs-primary);
}

.btn-secondary,
.btn.bg-gradient-secondary {
    box-shadow: 0 3px 3px 0 rgba(255,153,0,0.15), 0 3px 1px -2px rgba(255,153,0,0.2), 0 1px 5px 0 rgba(255,153,0,0.15);
}

    .btn-secondary:hover,
    .btn.bg-gradient-secondary:hover {
        background-color: var(--bs-btn-secondary-hover-bg);
        border-color: var(--bs-btn-secondary-hover-border);
        box-shadow: 0 14px 26px -12px rgba(255,153,0,0.4), 0 4px 23px 0 rgba(255,153,0,0.15), 0 8px 10px -5px rgba(255,153,0,0.2);
    }

    .btn-secondary .btn.bg-outline-secondary,
    .btn.bg-gradient-secondary .btn.bg-outline-secondary {
        border: 1px solid var(--bs-secondary);
    }

    .btn-secondary:not(:disabled):not(.disabled).active,
    .btn-secondary:not(:disabled):not(.disabled):active,
    .show > .btn-secondary.dropdown-toggle,
    .btn.bg-gradient-secondary:not(:disabled):not(.disabled).active,
    .btn.bg-gradient-secondary:not(:disabled):not(.disabled):active,
    .show > .btn.bg-gradient-secondary.dropdown-toggle {
        color: color-yiq(var(--bs-secondary));
        background-color: var(--bs-btn-secondary-active-bg);
        border-color: var(--bs-btn-secondary-active-border);
    }

.btn-outline-secondary:hover:not(.active) {
    color: var(--bs-secondary);
}

.card.card-background.card-background-mask-primary:after {
    background-image: linear-gradient(195deg, var(--bs-primary) 0%, var(--bs-primary) 100%);
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--bs-scrollbar-thumb-bg);
}

    ::-webkit-scrollbar-thumb:hover {
        background: var(--bs-scrollbar-thumb-hover-bg);
    }


.modal-body-scroll {
    max-height: 500px;
    overflow-y: auto;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 100000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,...) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred.";
    }

.loading-progress {
    position: relative;
    display: block;
    width: 8rem;
    height: 8rem;
    margin: 20vh auto 1rem auto;
}

    .loading-progress circle {
        fill: none;
        stroke: var(--bs-loading-progress-stroke);
        stroke-width: 0.6rem;
        transform-origin: 50% 50%;
        transform: rotate(-90deg);
    }

        .loading-progress circle:last-child {
            stroke: var(--bs-loading-progress-stroke-active);
            stroke-dasharray: calc(3.141 * var(--blazor-load-percentage, 0%) * 0.8), 500%;
            transition: stroke-dasharray 0.05s ease-in-out;
        }

.loading-progress-text {
    position: absolute;
    text-align: center;
    font-weight: bold;
    inset: calc(20vh + 3.25rem) 0 auto 0.2rem;
}

    .loading-progress-text:after {
        content: var(--blazor-load-percentage-text, "Loading");
    }

.inner-table {
    border-collapse: collapse;
    margin: 10px 0;
    width: 100%;
}

    .inner-table td {
        padding: 10px;
        border: 1px solid var(--bs-inner-table-border);
        text-align: left;
    }

.inner-table-rounded {
    border-radius: 10px;
    overflow: hidden;
}

.inner-table-inner-div {
    background-color: var(--bs-inner-table-bg);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

tr[style*="cursor: pointer;"] {
    background-color: #f2f2f2;
    transition: background-color 0.2s ease;
}

    tr[style*="cursor: pointer;"]:hover {
        background-color: #e6e6e6;
    }

.clickable-row {
    cursor: pointer;
}

.inner-table-inner-div p {
    margin-bottom: 5px;
    color: #333;
    font-size: 0.9em;
}

.qrcode {
    width: 150px;
    height: 150px;
}

.loader-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    flex-direction: column;
}

.loader {
    border: 12px solid #eaeaea;
    border-top: 12px solid #f7931a;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
    background: url('/assets/img/bitcoin.svg') no-repeat center;
    background-size: 90%;
}

.loader-small {
    border: 6px solid #eaeaea;
    border-top: 6px solid #f7931a;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    background: url('/assets/img/bitcoin.svg') no-repeat center;
    background-size: 80%;
}

.loader-slow {
    border: 12px solid #eaeaea;
    border-top: 12px solid #f7931a;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 20s linear infinite;
    background: url('/assets/img/bitcoin.svg') no-repeat center;
    background-size: 90%;
    margin: 0 auto;
}

.loader-slow-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loading-text {
    color: var(--bs-loading-text-color);
    font-size: 20px;
    margin-bottom: 20px;
}

.address-container {
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
}

.dark .address-container {
    background-color: var(--bs-card-header-img-bg);
    border: 1px solid var(--bs-card-header-img-border);
}

    .dark .address-container:hover {
        background-color: var(--bs-card-header-img-hover-bg);
    }

.address-container:hover {
    background-color: #e9ecef;
}

.address-container-wrapper {
    max-width: 450px;
    margin-right: 30px;
}

.address-copy-button {
    margin-left: 10px;
    cursor: pointer;
}

.btn-angor {
    color: var(--bs-btn-angor) !important;
}

.dark .btn-angor {
    color: var(--bs-btn-angor-dark) !important;
}

.btn-angor:hover {
    transition: all 0.3s ease;
    color: var(--bs-btn-angor-hover);
}

.dark .bg-gradient-dark-topmenu {
    background: #083b46 !important;
}

.address-image {
    width: 35px;
    height: 35px;
}

.address-text {
    font-size: 0.8rem;
    break-before: auto;
}

@media (max-width: 768px) {
    .address-text {
        font-size: 0.7rem;
        break-before: auto;
    }

    .btc-image-address {
        width: 20px;
        height: 20px;
    }
}

.form-label {
    font-weight: bold;
    color: #333;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #fefefd;
}

    .form-control:focus {
        outline: none;
        border-color: #007bff;
        box-shadow: 0 0 5px #007bff;
        background-color: #fefefd;
    }

.dark .form-label {
    color: #eee;
}

.dark .form-control {
    border: 1px solid #046479;
    background-color: #083b46;
    color: #eee;
}

    .dark .form-control:focus {
        border-color: #007bff;
        box-shadow: 0 0 5px #007bff;
    }

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: var(--bs-snackbar-bg);
    color: var(--bs-snackbar-text-color);
    text-align: center;
    border-radius: 10px;
    padding: 16px;
    position: fixed;
    z-index: 100000;
    left: 50%;
    bottom: 30px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.16);
}

    #snackbar.show {
        visibility: visible;
        -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
        animation: fadein 0.5s, fadeout 0.5s 2.5s;
    }

.dark #snackbar {
    background-color: var(--bs-snackbar-bg-dark);
    color: var(--bs-snackbar-text-color-dark);
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

.custom-modal-size {
    max-width: 450px;
}

.modal-content {
    padding: 10px;
}

.modal-body {
    padding: 10px;
}

.qrcode-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.img-responsive {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;
    border-radius: 10px 0 0 10px;
    max-height: 230px;
}

@media (max-width: 768px) {
    .img-responsive {
        border-radius: 10px 10px 0 0;
    }
}

.img-responsive::before {
    display: block;
    content: "";
}

.img-responsive .img-responsive-item,
.img-responsive iframe,
.img-responsive embed,
.img-responsive object,
.img-responsive video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.img-responsive-16by9::before {
    padding-top: 50%;
}

.embed-responsive {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    padding: 0;
    overflow: hidden;
    border-radius: 10px 0 0 10px;
}

@media (max-width: 768px) {
    .embed-responsive {
        border-radius: 10px 10px 0 0;
    }
}

.embed-responsive::before {
    display: block;
    content: "";
}

.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.embed-responsive-16by9::before {
    padding-top: 50%;
}

.video-loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-loader {
    position: relative;
}

.card-loader-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.b-shadow {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
}

.dark .border {
    border-color: var(--bs-dark-border-dark) !important;
}

.dark hr.light {
    border-color: var(--bs-dark-text-white);
}

.dark .text-white {
    color: var(--bs-dark-text-white) !important;
}

.dark .text-dark {
    color: var(--bs-dark-text-dark) !important;
}

.dark .text-secondary {
    color: var(--bs-dark-text-white) !important;
}

.dark .bg-gray-100 {
    background-color: var(--bs-dark-bg-gray-100) !important;
}

.dark .bg-gray-600 {
    background-color: var(--bs-dark-bg-gray-600) !important;
}

.dark .btn-link.text-white,
.dark .border-dark {
    border-color: var(--bs-dark-border-dark) !important;
}

.dark g[fill] {
    fill: var(--bs-dark-text-white) !important;
}

.btn-content {
    font-size: 16px !important;
}

.dark .card-body {
    color: #e3f8fc !important;
}

.card-header-img {
    height: 250px;
    overflow: hidden;
}

    .card-header-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.line-clamp-3 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 3;
}

.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000000;
    backdrop-filter: blur(3px);
}

.card-img-top {
    height: 230px;
    object-fit: cover;
}

.card-img-top-view {
    height: 330px !important;
 }

.z-index-4 {
    z-index: 1000001 !important;
}

.alert-message {
    margin: auto;
    bottom: 20px;
}

.menu-text {
    color: var(--bs-primary) !important;
}

.dark .menu-text {
    color: var(--bs-dark-text-white) !important;
}

.menu-text.active {
    color: var(--bs-primary) !important;
}

.dark .menu-text.active {
    color: var(--bs-dark-text-white) !important;
}

.navbar-main {
    background: #fefefd !important;
}

.dark .navbar-main {
    background: #083b46 !important;
}

.angor-alert-info {
    background-color: var(--bs-secondary) !important;
}

.text-white {
    color: var(--bs-dark-text-white) !important;
}

.project-card {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
}

.project-wrapper {
    margin-left: -0.5rem;
    margin-right: -0.5rem;
}

.btn-view {
    font-weight: 400;
    border-radius: 7px;
}

    .btn-view:hover {
        background-color: rgba(199, 199, 199, 0.2);
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    }

@media (max-width: 768px) {
    .w-100-m {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .project-list {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .m-only {
        display: none;
    }

    .vertical-button {
        writing-mode: vertical-rl;
        text-orientation: mixed;
        position: relative;
        right: 0;
        top: 0;
        bottom: 0;
        display: flex;
        height: fit-content;
        align-items: center;
        justify-content: center;
        width: 40px;
    }
}

.blur-shadow-image img {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.blur-shadow-image:hover img {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

@keyframes rotate {
    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.rotate-icon {
    display: inline-block;
    animation: rotate 2s linear infinite;
}

.btn-border {
    border: 1px solid var(--btn-border) !important;
    background-color: rgba(31, 93, 106, 0.2);
}

input[type="checkbox"] + label {
    display: block;
    margin: 0.2em;
    cursor: pointer;
    padding: 0.2em;
}

input[type="checkbox"] {
    display: none;
}

    input[type="checkbox"] + label:before {
        content: "\2714";
        border: 0.1em solid var(--bs-secondary);
        border-radius: 0.3em;
        display: inline-block;
        width: 2em;
        height: 2em;
        padding-left: 0.5em;
        padding-bottom: 0.2em;
        margin-right: 0.4em;
        vertical-align: bottom;
        color: transparent;
        transition: 0.2s;
    }

    input[type="checkbox"] + label:active:before {
        transform: scale(0);
    }

    input[type="checkbox"]:checked + label:before {
        background-color: var(--bs-secondary);
        border-color: var(--bs-secondary);
        color: #fff;
    }

    input[type="checkbox"]:disabled + label:before {
        transform: scale(1);
        border-color: #aaa;
    }

    input[type="checkbox"]:checked:disabled + label:before {
        transform: scale(1);
        background-color: #bfb;
        border-color: #bfb;
    }
@keyframes heartbeat {
    0%, 100% {
        transform: scale(1);
    }

    25%, 75% {
        transform: scale(1.2);
    }

    50% {
        transform: scale(1.1);
    }
}

.heartbeat {
    animation: heartbeat 1.5s ease-in-out 1;
}

.card.active .card-body {
    animation: heartbeat 1.5s ease-in-out 1;
}
@keyframes drawLogo {
    from {
        stroke-dasharray: 1000;
        stroke-dashoffset: 1000;
    }

    to {
        stroke-dasharray: 1000;
        stroke-dashoffset: 0;
    }
}

@keyframes zoomInOut {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}

.navbar-brand {
    display: inline-block;
    cursor: pointer;
    position: relative;
}

    .navbar-brand .icon {
        stroke-dasharray: 1000;
        stroke-dashoffset: 0;
        transition: stroke-dashoffset 2s ease-in-out;
    }

    .navbar-brand:hover .icon {
        animation: drawLogo 2s forwards, zoomInOut 2s forwards;
    }

.main-logo {
    display: inline-block;
    cursor: pointer;
    position: relative;
}

    .main-logo .icon {
        stroke-dasharray: 1000;
        stroke-dashoffset: 0;
        transition: stroke-dashoffset 2s ease-in-out;
        animation: none;
        transform-origin: center;
    }

    .main-logo:hover .icon {
        animation: drawLogo 2s forwards, zoomInOut 2s forwards;
    }


.banner-container {
    position: relative;
    height: 200px;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.banner-container-list {
    position: relative;
    height: 200px;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.banner-image {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    filter: blur(2px);
    transition: filter 0.3s, opacity 0.3s;
}

.banner-container:hover .banner-image, .banner-container-list:hover .banner-image {
    filter: none;
    opacity: 0.8;
}

.profile-container {
    position: absolute;
    bottom: 10px;  
    left: 10px;
    width: 80px;
    height: 80px;
    overflow: visible;
    border-radius: 50%;
    border: 5px solid white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.profile-image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    bottom: 0;  
    left: 0;
}

.profile-image-view {
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    border: 3px solid white;
    z-index: 10;
}

h1:focus {
    outline: none;
}

h1:focus-visible {
    outline: none;
}

img, a {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}
