name: Create Version Tag

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]
        include:
          - os: windows-latest
            extension: ".zip"
            runtime: "win-x64"
          - os: ubuntu-latest
            extension: ".tar.gz"
            runtime: "linux-x64"
          - os: macos-latest
            runtime: "osx-x64"
            extension: ".zip"
        node_version: [18]
      fail-fast: false

    runs-on: ${{ matrix.os }}

    env:
      PROJECT_NAME: "Angor"
      SOLUTION_PATH: "src/Angor.sln"
      PROJECT_PATH: "src/Angor/Server/Angor.Server.csproj"
      BUILD_CONFIGURATION: "Release"

    steps:
      - uses: actions/checkout@v1
        name: Checkout

      - name: Setup dotnet
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: |
            9.0.x
      - name: Setup Node.js (${{ matrix.node_version }})
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node_version }}

      - name: Variables
        run: |
          echo VERSION=$(npm run version --silent) >> $GITHUB_ENV
        shell: bash

      - name: Workload
        run: dotnet workload restore ${{env.SOLUTION_PATH}}

      - name: Restore
        run: dotnet restore ${{env.SOLUTION_PATH}}

      - name: Unit Test
        run: dotnet test -v=normal -c ${{env.BUILD_CONFIGURATION}} ${{env.SOLUTION_PATH}}

      # this will check if the file 'Directory.Build.props' has changed,
      # and if yes it creates a version tag which will trigger a 
      # deployment processes of 3 steps:
      #    version creation -> draft release package -> deployment mainet/testnet/signet
      - name: Check for changes in Directory.Build.props
        if: matrix.os == 'ubuntu-latest'
        id: check_changes
        run: |
          if git diff --name-only HEAD^ HEAD | grep -q '^src/Directory.Build.props$'; then
            echo "File Directory.Build.props has changed."
            echo "::set-output name=changed::true"
          else
            echo "File Directory.Build.props has not changed."
            echo "::set-output name=changed::false"
          fi

        # we must use  a custom token to trigger workflows ANGOR_DEPLOY_TOKEN
        # https://docs.github.com/en/actions/using-workflows/triggering-a-workflow
      - name: Create tag
        if: steps.check_changes.outputs.changed == 'true'
        continue-on-error: true
        env:
          TAG_NAME: "v${{env.VERSION}}"
        run: |
          sleep 10
          git tag $TAG_NAME
          git push https://x-access-token:${{ secrets.ANGOR_DEPLOY_TOKEN }}@github.com/${{ github.repository }} $TAG_NAME