name: gh-pages

on:
  push:
    branches:
      - main

permissions:
  contents: write
jobs:
  build:

    concurrency: ci-${{ github.ref }} 
    runs-on: ubuntu-latest

    env:
      PROJECT_PATH: "src/Angor/Server/Angor.Server.csproj"
      OUTPUT_PATH: "Output"
      BUILD_CONFIGURATION: "Release"

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 7.0.x
    
    - name: Publish (Angor)
      run: dotnet publish ${{env.PROJECT_PATH}} -f net7.0 --configuration ${{env.BUILD_CONFIGURATION}} --output ${{env.OUTPUT_PATH}}
   
    - name: Copy index.html to 404.html
      run: cp ${{env.OUTPUT_PATH}}/wwwroot/index.html ${{env.OUTPUT_PATH}}/wwwroot/404.html
      
    - name: Add .nojekyll file
      run: touch ${{env.OUTPUT_PATH}}/wwwroot/.nojekyll
      
    - name: Deploy to Github Pages
      uses: JamesIves/github-pages-deploy-action@v4
      with:
          branch: gh-pages 
          folder: ${{env.OUTPUT_PATH}}/wwwroot
