name: Pull Request

on: 
  pull_request:
    branches:
      - main

jobs:
  
  buildAndUnitTest:

    strategy:
      matrix:
        os: [ windows-latest, ubuntu-latest, macos-latest ]
      fail-fast: false

    runs-on: ${{ matrix.os }}
    
    env:
      PROJECT_NAME: 'Blockcore.AtomicSwaps'
      SOLUTION_PATH: 'src/Angor.sln'
      PROJECT_PATH: 'src/Angor/Server/Angor.Server.csproj'
      BUILD_CONFIGURATION: 'Release'

    steps:

    - uses: actions/checkout@v1
      
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: | 
          7.0.x
    - name: Setup Node.js (${{ matrix.node_version }})
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node_version }}

    - name: Variables
      run: |
        echo VERSION=$(npm run version --silent) >> $GITHUB_ENV
      shell: bash
      
    - name: Workload
      run: dotnet workload restore ${{env.SOLUTION_PATH}}

    - name: Restore
      run: dotnet restore ${{env.SOLUTION_PATH}}

    - name: Build
      run: dotnet build -c ${{env.BUILD_CONFIGURATION}} ${{env.SOLUTION_PATH}}

    - name: Unit Test
      run: dotnet test -v=normal -c ${{env.BUILD_CONFIGURATION}} ${{env.SOLUTION_PATH}}

  cypress-run:
        runs-on: ubuntu-22.04
        steps:
          - name: Checkout
            uses: actions/checkout@v4
          #- name: Start Application
          #  run: dotnet run --project src/Angor/Client
          # Install npm dependencies, cache them correctly
          # and run all Cypress tests
          - name: Cypress run
            uses: cypress-io/github-action@v6
            with:
              build: npm run build
              start: npm start
