name: Pull Request

on: 
  pull_request:
    branches:
      - main

jobs:
  
  buildAndUnitTest:

    strategy:
      matrix:
        os: [ windows-latest, ubuntu-latest, macos-latest ]
      fail-fast: false

    runs-on: ${{ matrix.os }}
    
    env:
      PROJECT_NAME: 'Angor'
      SOLUTION_PATH: 'src/Angor.sln'
      PROJECT_PATH: 'src/Angor/Server/Angor.Server.csproj'
      BUILD_CONFIGURATION: 'Release'

    steps:

    - uses: actions/checkout@v1
      
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: | 
          9.0.x

    - name: Setup Node.js (${{ matrix.node_version }})
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node_version }}

    - name: Variables
      run: |
        echo VERSION=$(npm run version --silent) >> $GITHUB_ENV
      shell: bash
      
    - name: Workload
      run: dotnet workload restore ${{env.SOLUTION_PATH}}

    - name: Restore
      run: dotnet restore ${{env.SOLUTION_PATH}}

    - name: Unit Test (Debug)
      run: |
       dotnet test --logger "trx;LogFileName=testresults.trx" -v normal -c Debug src/Angor.sln | grep -E '(Passed|Failed) .*ms'

    - name: Unit Test (Release)
      run: |
        dotnet test --logger "trx;LogFileName=testresults.trx" -v normal -c Release src/Angor.sln | grep -E '(Passed|Failed) .*ms'
 